
.open-sans-normal{
    font-family: "open sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "width" 100;
}

/* shared style */
.text-primary{
    color:#FD6E0A;
}

/* Nav Style */
nav{
    display: flex;
}

.nav-title{
    font-weight: 800;
    size: 45px;
}

